<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mapper.MemberMapper">

    <sql id="selectListWhere">
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    and member.user_id like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    and member.user_name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    and member.phone like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    and
                    (
                    member.user_id like concat('%', #{searchValue}, '%')
                    or
                    member.user_name like concat('%', #{searchValue}, '%')
                    or
                    member.phone like concat('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>

    </sql>

    <select id="selectListCount" resultType="long">
        select count(*)
        from member
        where 1 = 1
            <include refid="selectListWhere"/>
    </select>

    <select id="selectList" resultType="com.zerobase.fastlms.admin.dto.MemberDto">
        select member.*,mh.login_dt
        from member
        left join (select user_id, max(login_dt) login_dt
        from member_history
        group by user_id) mh
        on member.user_id = mh.user_id
        where 1 = 1
        <include refid="selectListWhere"/>

        limit #{pageStart}, #{pageEnd}
    </select>

</mapper>
